:root {}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    background-image: url("../img/windows-xp-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-container {
    width: 900px;
    margin: auto;
    background-color: #c0c0c0;
}

.face-btn {
    background-image: url("../img/face-button.png");
    background-size: cover;
    box-shadow: inset .4rem .4rem white, inset -.4rem -.4rem #808080;
    width: 110px;
    aspect-ratio: 1/1;
}

.score {
    font-family: 'alarm clock', sans-serif;
    width: 110px;
    aspect-ratio: 1/1;
    line-height: 110px;
    margin-bottom: 40px;
    border: none;
    box-shadow: inset .4rem .4rem white, inset -.4rem -.4rem #808080;
    color: red;
    background-color: black;
}

.score-overlay {
    background-color: transparent;
    box-shadow: none;
    opacity: 0.2;
    position: absolute;
}

.block-container {
    width: 900px;
    margin: auto;
    padding: .5rem;
    border: 5px solid #c0c0c0;
    background-color: #c0c0c0;
    position: relative;
}

.block {
    aspect-ratio: 1/1;
    border: 3px solid #808080;
    background-color: #c0c0c0;
    box-shadow: inset 1rem 1rem white, inset -1rem -1rem #808080;
}

.block:hover {
    opacity: 0.7;
}

.block-click {
    background-color: #c0c0c0;
    box-shadow: none;
}

.block-bomb {
    background-image: url("../img/bomb.png");
    background-size: cover;
}